.q{border: solid green; width: 150px; height: 150px;}
.w{border: dotted green; width: 150px; height: 150px;}
.e{border: dashed green; width: 150px; height: 150px;}
.r{border: double green; width: 150px; height: 150px;}
.t{border: groove green;width: 150px; height: 150px;}
.y{border: ridge green;width: 150px; height: 150px;}
.u{border: inset green;width: 150px; height: 150px;}
.i{border: outset green;width: 150px; height: 150px;}